<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="limit" value="20" />
    <add key="pass" value="qwe123" />
    <add key="LogOff" value="false" />
    <add key="DisconnectSession" value="true" />
  </appSettings>
  <nlog>
    <targets async="true">
      <target name="logfile" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:${newline}${exception:format=tostring}}"
              type="File" fileName="${basedir}/logs/action.log" archiveFileName="${basedir}/logs/action.{#}.log"
              archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>